@import '../../style/variables.scss';

.return-back__btn{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #2f362f;
    padding: 15px 50px;
    margin: 15px;
    border: 2px solid #61de2a;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px #61de2a;
    background-color: rgba(255, 255, 255, 0.57);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(3px);
    cursor: pointer;
  
    span{
      padding: 0px 15px 0px 0px;
    }
  
    img{
      width: 20px;
      transform: rotateZ(90deg);
    }
  
    &:hover{
      background-color: #2f362f;
      color: $hover-color;
    }
  }