@import '../../style/variables.scss';

.return-back__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid $hover-color;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px $hover-color;
    background-color: rgba(255, 255, 255);
    margin: 0px 0px 30px;
    padding: 10px 25px;
    font-size: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
    color: $text-color;
    text-decoration: none;

    .arrow {
        width: 20px;
        height: 20px;
        margin: 0px 0px 0px 20px;
        transition: all 0.4s cubic-bezier(0.28, 1.1, 1, 1);
    }

    &:hover {
        background-color: $text-color;
        color: $hover-color;
    }
}
