@import '../../../style/variables.scss';

.single-character{
    margin: 0 auto;

    .characters-list__item{
        margin: 0px 100px;
        height: auto;

        &-info {
            justify-content: center;
            padding: 20px 20px 0px;
            
            div{
                padding: 0px 0px 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .single-character{
        .characters-list__item{
            max-width: 85%;
            margin: 0px auto;

            &-status{
                margin-bottom: 0px;
            }
        }
    }
}