.search-panel{

    &__input{
        width: 60%;
        padding: 10px 20px;
        margin: 30px 40px 0px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 14px 4px #61de2a;
    }
}