.button{
    background: #2f362f;;
    color: #ffffff;
    flex-basis: 100%;
    border: none;

    &:disabled{
        color: #2f362f;;
        cursor: auto;
        background-color: #ffffff;
        box-shadow: none;
        border: 3px solid #2f362f;
    }
}