.accordion__wrapper{
    display: flex;
    margin: 0px auto;
    padding: 0px 0px 60px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}